/*Site.css*/
/*Main styles-----------------------------------------*/

body {
    background: #efefef;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
}

/* Footer ---------------------------------------------*/
footer {
    padding-top: 50px;
}

/* Header ----------------------------------------------*/
#main-nav {
    background: #FFF;
    background-image: none;
    border: none;
}

/*  Logo   */
#main-nav .navbar-brand     {
    color:#f45800;
    font-size:30px;
    padding-top:20px;
    padding-bottom:20px;
    font-family:Georgia, serif;
}

/* nav links  */
#main-nav a {
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* Hover */
#main-nav a:hover {
    background: none;
}

/* Header search form */
#main-nav .navbar-form {
    padding-top: 16px;
    padding-bottom: 10px;  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a[ui-sref] {
    cursor: pointer;
}
